<%# /list/new %>
<h1>Create New List</h1>

<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
`<%= f.input :photo, as: :file %>
  <%= f.submit %>

  <div>
    <%= form.submit 'Create List' %>
  </div>
<% end %>

<%# <p><%= link_to("<- Go Back", lists_path) %>

<%= link_to '<- Back to Lists', lists_path(@list), class: 'btn btn-secondary' %>
